site:
  title: corva-sdk
  start_page: corva-sdk::index.adoc
content:
  sources:
    - url: /antora  # Volume mount target inside docker container
      start_path: docs
      branches: []
#      branches: HEAD  # Use this for local development
      tags: [v2.0.3]
asciidoc:
  attributes:
    page-toclevels: 5
    sectnums: True
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files:
    - path: partials/header-content.hbs  # Override header to be empty
      contents: |
        <header class="header">
          <nav class="navbar">
            <div class="navbar-brand">
              <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
            </div>
          </nav>
        </header>
    - path: partials/footer-content.hbs  # Override footer to be empty
      contents:
    # Add .nojekyll: https://docs.antora.org/antora/latest/publish-to-github-pages/
    - path: ui.yml
      contents: |
        static_files:
        - .nojekyll
    - path: .nojekyll
